@(name: String)
@import play.api.Play

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
@main("Play with Scala.js") {
<h2>Play and Scala.js share a same message</h2>
<nav>
    <h3>Players in room</h3>
    <ul id="users">
    </ul>
</nav>
<div>
<canvas class="field" id="canvas" width="1024" height="768"></canvas>
</div>
<script type="text/javascript" src="/assets/client-fastopt.js"></script>
<script>
    example.RoomFrontend().setName("@name");
</script>

<ul>
  <li>Scala.js shouts out: <em id="scalajsShoutOut"></em></li>
</ul>
}