@(form: Form[models.LoginForm.LoginData])(implicit lang: play.api.i18n.Messages)


<!DOCTYPE html>

<html>
<head>
  <title>Cat&Mice Login</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/style.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
</head>
<body>
<script type="text/javascript" src="/assets/client-fastopt.js"></script>

  @helper.form(action = routes.Application.loginSubmit){
  <div id="wrap">
  <div id="regbar">
    <div class="login">
      <div class="formholder">
        <div class="randompad">
           <fieldset>
             @helper.inputText(form("username"), 'type -> "user_name", 'placeholder -> "login")
             <input type="submit" value="Pick name" />
 
           </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
  }
</body>
</html>